# Navigation
alias cd..="cd .."
alias cls="clear"
alias ls="ls -al"

# Kubernetes
alias k="kubectl"
alias k:c="kubectl config use-context"
alias k:n='kubectl config set-context --current --namespace $1'

# Node.js
alias clean:node="cleanup_node"

# zshrc
alias reload='clear && echo "🔄 Reloading shell..." && exec zsh'